   

   <div class="container mt-3">
       <div class="card">
           <div class="card-body">
               <div class="row">
                   <div class="col-md-6">
                       <h4>Sistema de cadastro de funcionários:</h4>
                       <p>Listagem de empresas cadastradas.</p>
                   </div>
                   <div class="col-md-6 text-end">
                       <button class="btn btn-outline-success btn-sm mt-3" (click)="redirecionarParaCadastro()"> 
                           Cadastrar empresa 
                       </button>
                   </div>
               </div>
               <div class="table-responsive">
                   <table class="table table-sm table-hover table-striped">
                       <thead>
                           <tr>
                               <th>Nome Fantasia</th>
                               <th>Razão Social</th>
                               <th>Cnpj</th>
                               <th>Data/Hora Cadastro</th>
                               <th [width]="150">Operações</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr *ngFor="let item of empresas">
                           <td>{{item.nomeFantasia}}</td>
                           <td>{{item.razaoSocial}}</td>
                           <td>{{item.cnpj}}</td>
                           <td>{{item.dataHoraCadastro}}</td>
                               <td>
                                   <button class="btn btn-sm btn-outline-primary me-2"
                                          (click)="onEdit(item.id)"> 
                                          Editar 
                                    </button>
                                   <button class="btn btn-sm btn-outline-danger"
                                          (click)="onDelete(item.id)"> 
                                          Excluir 
                                    </button>
                               </td>
                           </tr>
                       </tbody>
                       <tfoot>
                           <tr>
                               <td colspan="5"> Quantidade de empresas: 
                                   {{empresas.length}} </td>
                           </tr>
                       </tfoot>
                   </table>
               </div>
           </div>
       </div>
   </div>